<aside>
	<div class="border-dotted radius b30" style="text-align: center;">
		<a target="_blank"  href="https://www.amazon.com/gp/product/B00VTA9F6U/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00VTA9F6U&linkCode=as2&tag=tqwd-20&linkId=c06176aa3280461f9c2c11c3c1ddd1b0"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00VTA9F6U&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=tqwd-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=tqwd-20&l=am2&o=1&a=B00VTA9F6U" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</div>

	<div class="panel radius">
		<!-- START OF SHOPIFY BUT CODE -->
		<div id='product-component-f014c52acdb'></div>
		<script type="text/javascript">
		/*<![CDATA[*/

		(function () {
		  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
		  if (window.ShopifyBuy) {
		    if (window.ShopifyBuy.UI) {
		      ShopifyBuyInit();
		    } else {
		      loadScript();
		    }
		  } else {
		    loadScript();
		  }

		  function loadScript() {
		    var script = document.createElement('script');
		    script.async = true;
		    script.src = scriptURL;
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
		    script.onload = ShopifyBuyInit;
		  }

		  function ShopifyBuyInit() {
		    var client = ShopifyBuy.buildClient({
		      domain: 'odd-toaster.myshopify.com',
		      apiKey: '211ee4fbdfd1ce52c6c9de14f1f00630',
		      appId: '6',
		    });

		    ShopifyBuy.UI.onReady(client).then(function (ui) {
		      ui.createComponent('product', {
		        id: [10516637646],
		        node: document.getElementById('product-component-f014c52acdb'),
		        moneyFormat: '%24%7B%7Bamount%7D%7D',
		        options: {
		  "product": {
		    "variantId": "all",
		    "contents": {
		      "imgWithCarousel": false,
		      "variantTitle": false,
		      "description": false,
		      "buttonWithQuantity": false,
		      "quantity": false
		    },
		    "styles": {
		      "product": {
		        "@media (min-width: 601px)": {
		          "max-width": "100%",
		          "margin-left": "0",
		          "margin-bottom": "50px"
		        }
		      },
		      "compareAt": {
		        "font-size": "12px"
		      }
		    }
		  },
		  "cart": {
		    "contents": {
		      "button": true
		    },
		    "styles": {
		      "footer": {
		        "background-color": "#ffffff"
		      }
		    }
		  },
		  "modalProduct": {
		    "contents": {
		      "img": false,
		      "imgWithCarousel": true,
		      "variantTitle": false,
		      "buttonWithQuantity": true,
		      "button": false,
		      "quantity": false
		    },
		    "styles": {
		      "product": {
		        "@media (min-width: 601px)": {
		          "max-width": "100%",
		          "margin-left": "0px",
		          "margin-bottom": "0px"
		        }
		      }
		    }
		  },
		  "productSet": {
		    "styles": {
		      "products": {
		        "@media (min-width: 601px)": {
		          "margin-left": "-20px"
		        }
		      }
		    }
		  }
		}
		      });
		    });
		  }
		})();
		/*]]>*/
		</script>

		<!-- END OF SHOPIFY BUT CODE -->
	</div>



	<!-- DISABLED FOR NOW START -->
	
<!--   <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->

	<!-- DISABLED FOR NOW END -->
</aside>