---
layout: default
format: post
---

<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			<div class="flex-video">
				{{ page.iframe}}
			</div>

			<div class="row">
				<div class="medium-offset-2 medium-8 end columns">
					<header>
						{% if page.subheadline %}<p class="subheadline t30">{{ page.subheadline }}</p>{% endif %}
						<h1 itemprop="name">{{ page.title }}</h1>
					</header>

					{% if page.video.thumbnailUrl %}<meta itemprop="thumbnailUrl" content="{{ page.video.thumbnailUrl }}" />{% endif %}
					{% if page.video.contentURL %}<meta itemprop="contentURL" content="{{ page.video.contentURL }}" />{% endif %}
					{% if page.video.embedURL %}<meta itemprop="embedURL" content="{{ page.video.embedURL }}" />{% endif %}

					{% if page.teaser %}
					<p class="teaser" itemprop="description">
						{{ page.teaser }}
					</p>
					{% endif %}

					{{ content }}
					{% if page.show_meta == true %}
					{% include _meta_information.html %}
					{% endif %}
				</div><!-- /.medium-8.columns -->
			</div><!-- /.row -->
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->